<div class="row" style="margin-top:100px;">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading"><%= t 'service_not_allowed.title' %></div>
        <div class="panel-body">
          <%= t 'service_not_allowed.message', :service => @service %>
        </div>
      </div>
    </div>
</div>
