$green: #A8CF45;
$green-light: #D2E28B;
$white: #fff;
$black: #333;
$gray: #7E7F81;
$green-border: #739612;
$why-acceptto-background-color-iphone: #fff;
$why-acceptto-background-image: image_path('m-back.jpg');
